.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}

.image {
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 768px) {
  .background {
    height: 1100px;
  }
}
